/*Dokumen CSS*/

	body{
	background-color: orange;
	}

	judul{
	font-family: Arial;
	color: blue;
	font-size:40px;
	font-weight: bold;
	}

	.sub{
	font-size: 30px;
	color: brown;
	font-family: arial; 
	}

	#id{
	text-align: center;
	color: green;
	font-family: arial;
	font-size: 25px;
	}

	input{
	font-family: arial;
	color: purple;
	font-size: 15px;
	}